
.navbar {
  background-color: black;
  padding: 20px 0;
}



.logo {
  color: orange;
  text-decoration: none;
  font-size: 24px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  margin-left: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: orange;
}
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-links {
      margin-top: 20px;
    }
  
    .nav-links li {
      margin-right: 50;
      margin-bottom: 10px;
    }
  }

  body {

    background: linear-gradient(135deg, #1e1e1e, #4d4d4d, #FFA500);
  }
  


/* styles.css */

/* Centering container */
.center-container {
  display: flex;
  align-items: center; /* Vertically center */
  height: 50vh; /* Full viewport height */
}

/* Styles for the container */
.container1 {
  text-align: center; /* Center text */
  background-color: transparent; /* Example background color */
  padding: 50px;
  border-radius: 11%; /* Example border radius */

}
label{
  color: white;
  font-size: 25px;
}
 
#mountainInfo{
  padding-top: 100px

}
  

.col-md-4{
padding-right: 20px;
  padding-top: 100px;
}

main{
padding: 100px;

}
.card{
  background-color: transparent;
border: transparent;
}

.card-text{

  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /
}

.bg-body-tertiary  {
  background-color: transparent black; 
  padding: 1rem; /* Padding */
  margin-bottom: 1rem; /* Bottom margin */
  border-radius: 0.25rem; /* Rounded corners */
}