
.navbar {
  background-color: black;
  padding: 20px 0;
}



.logo {
  color: orange;
  text-decoration: none;
  font-size: 24px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  margin-left: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: orange;
}
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-links {
      margin-top: 20px;
    }
  
    .nav-links li {
      margin-right: 50;
      margin-bottom: 10px;
    }
  }

  body {

    background: linear-gradient(135deg, #1e1e1e, #4d4d4d, #FFA500);
  }
  
h1{
 padding-top: 200px;
 color: white;

}
.jumbotron {
  position: relative;
  background-image: url('https://source.unsplash.com/1600x900/?nationalpark');
  background-size: cover;
  height: 500px; /* Adjust the height as needed */
}

.jumbotron::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)); /* Darker gradient */
  z-index: -1; /* Ensure the gradient is behind the content */
}

.jumbotron .container {
  text-align: center;
  color: white; /* White text color */
  position: relative; /* Add position relative for z-index to work */
  z-index: 1; /* Ensure the text is in front of the gradient */
}

  




/* Styles for the container */
.container1 {
  text-align: center; /* Center text */
  background-color: transparent; /* Example background color */
  padding: 50px;
  border-radius: 11%; /* Example border radius */

}
label,  .mb-0{
  font-size: 25px;
}
.fst-italic{
  color: white;

  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /
}
 
h2{
  color: white;

}

p{
  color: white;

  font-size: 20px;
}
#mountainInfo{
  padding-top: 100px

}
  

.col-md-4{
padding-right: 20px;
  padding-top: 100px;
}

article{
padding: 20px;

}
.card{
  background-color: transparent;
border: transparent;
}

.card-text{

  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /
}
.pb-2{

  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /
}

.bg-body-tertiary  {
  background-color: transparent black; 
  padding: 1rem; /* Padding */
  margin-bottom: 1rem; /* Bottom margin */
  border-radius: 0.25rem; /* Rounded corners */
}
