body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: black;
  padding: 20px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: orange;
  text-decoration: none;
  font-size: 24px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  margin-left: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: orange;
}


/* Custom styles for the dropdown */
.custom-select {
  border-radius: 10px; /* Rounded corners */
  border-color: orange; /* Border color */
  background-color: orange; /* Background color */
  color: #495057; /* Text color */
}

.custom-select:focus {
  border-color: orange; /* Border color on focus */
  box-shadow: 0 0 0 0.2rem rgba(255, 128, 0, 0.25); /* Box shadow on focus */
}

/* Arrow icon */
.custom-select::after {
  content: url('https://cdn-icons-png.flaticon.com/512/25/25231.png'); /* Custom arrow icon */
  position: absolute;
  top: calc(50% - 6px); /* Vertically center the icon */
  right: 10px; /* Position the icon on the right */
  pointer-events: none; /* Ensure the icon doesn't interfere with interaction */
}

/* Hover effect */
.custom-select:hover {
  border-color: orange; /* Border color on hover */
}

.form-group, h1 {
  max-width: 400px; /* Adjust the max-width as needed */
  margin: 0 auto; /* This centers the container horizontally */
  padding: 50px; /* Add padding for spacing */
}
  #parkTypes{
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* 4);
    padding-left: calc(var(--bs-gutter-x)* 5);
 
}

body {

  background: linear-gradient(135deg, #1e1e1e, #4d4d4d, #FFA500);
 

}
.jumbotron {
  position: relative;
  background-image: url('https://source.unsplash.com/1600x900/?nationalpark');
  background-size: cover;
  color: white;
}

.jumbotron::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
}

.card{

  width: 100%;
  background-color: transparent; /* Transparent background */
  border: transparent; /* Orange border */
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}

  p.card-text {
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Optional: Add shadow */
  }
.display-3, .card-title{

  font-weight: bold;
  color: white;
}
label{
  color: white;
  font-size: 25px;
}