.navbar {
  background-color: #281881;
  color: #fff;
  position: relative;
  z-index: 1;
  padding: 40px 0;
}

main {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("/");
flex-grow: 1;
}

body{
height: 100vh;
display: flex;


}
.logo {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 100px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ff7f00;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    margin-top: 20px;
  }

  .nav-links li {
    margin-right: 50;
    margin-bottom: 10px;
  }
}

/* Custom styles for the dropdown */
.custom-select {
  border-radius: 10px; /* Rounded corners */
  border-color: #281881; /* Border color */
  background-color: #281881; /* Background color */
  color: #495057; /* Text color */
}

.custom-select:focus {
  border-color: #281881; /* Border color on focus */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Box shadow on focus */
}

/* Arrow icon */
.custom-select::after {
  content: url('https://cdn-icons-png.flaticon.com/512/25/25231.png'); /* Custom arrow icon */
  position: absolute;
  top: calc(50% - 6px); /* Vertically center the icon */
  right: 10px; /* Position the icon on the right */
  pointer-events: none; /* Ensure the icon doesn't interfere with interaction */
}

/* Hover effect */
.custom-select:hover {
  border-color: #281881; /* Border color on hover */
}
.container-fluid{

  margin-top: 400px;
}

.form-group, h1 {
  max-width: 400px; /* Adjust the max-width as needed */
  margin: 0 auto; /* This centers the container horizontally */
  padding: 20px; /* Add padding for spacing */
}
  #parkTypes{
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* 4);
    padding-left: calc(var(--bs-gutter-x)* 4);
    margin-right: auto;
 
}
