body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: black;
  padding: 20px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: orange;
  text-decoration: none;
  font-size: 24px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  margin-left: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: orange;
}


/* Custom styles for the dropdown */
.custom-select {
  border-radius: 10px; /* Rounded corners */
  border-color: orange; /* Border color */
  background-color: orange; /* Background color */
  color: #495057; /* Text color */
}

.custom-select:focus {
  border-color: orange; /* Border color on focus */
  box-shadow: 0 0 0 0.2rem rgba(255, 128, 0, 0.25); /* Box shadow on focus */
}

/* Arrow icon */
.custom-select::after {
  content: url('https://cdn-icons-png.flaticon.com/512/25/25231.png'); /* Custom arrow icon */
  position: absolute;
  top: calc(50% - 6px); /* Vertically center the icon */
  right: 10px; /* Position the icon on the right */
  pointer-events: none; /* Ensure the icon doesn't interfere with interaction */
}

/* Hover effect */
.custom-select:hover {
  border-color: orange; /* Border color on hover */
}

 h1 {
  max-width: 400px; /* Adjust the max-width as needed */
  margin: 0 auto; /* This centers the container horizontally */
  padding: 50px; /* Add padding for spacing */
  padding-top: 200px;
}
  #parkTypes{
    padding-top: 50px;

    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* 4);
    padding-left: calc(var(--bs-gutter-x)* 5);
 
}
.form-group{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-top: 20px;
  padding: 40px;
  margin: 0 /* Center the carousel */

}
body {

  background: linear-gradient(135deg, #ff7300b0, #191714, #0e0a06b0);
 

}

footer{
  margin-top: 100px;
  background-color:transparent
  
}

  .jumbotron {
    position: relative;
    background-image: url('/images/parksback.jpeg');
    background-size: cover;
    color: white;
  }
  
  .jumbotron::before {
    content: '';
    position: absolute;
    top: 5;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)); /* Darker gradient */
    z-index: -.9; /* Ensure the gradient is behind the content */}
  
  .jumbotron .container {
    text-align: center;
    color: white; /* White text color */
    position: relative; /* Add position relative for z-index to work */
    z-index: 1; /* Ensure the text is in front of the gradient */
  }
  

.card{

  color: white;

  background-color: transparent;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /}

  p.card-text {
    background-color: transparent;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /}


  
.display-3{
  padding-top: 200px;
  color: white;
}
label{
  padding-top: 90px;
  padding: 80px;
  color: white;
  font-size: 25px;
  
}

.h6.mb-0, .col-md-6 {
  color: white;
background-color: transparent;
  padding: 20px;
}
  .col-md-6{
    padding-top: 90px;
    padding: 80px;
   }
   p, h3 {
    color: white;

    background-color: transparent;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /}



    /* Custom CSS to adjust the size of the carousel */
    .carousel {
      max-width: 900px; /* Set maximum width */
      margin: auto; /* Center the carousel */
    }

    .carousel-inner {
      height: 600px; /* Set height of the carousel */
    }

    .carousel-item img {
      object-fit: cover; /* Ensure the images cover the entire carousel area */
      height: 300%; /* Make images fill the carousel */
      width: 300%; /* Make images fill the carousel */
    }

    .col-md-4 {
      padding-right: 20px;
      padding-top: 100px;
  }
  
  