/* mountains.css */

/* Centering container */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Styles for the container */
.container1 {
  text-align: center;
  background-color: transparent;
  padding: 20px;
  border-radius: 11%;
  margin-top: 50px; /* Adjust the margin-top as needed */
}

/* Additional styling for mountainInfo */
#mountainInfo {
  padding-top: 20px; /* Adjust the padding-top as needed */
}

/* Additional styling for col-md-4 */
.col-md-4 {
  padding-top: 50px; /* Adjust the padding-top as needed */
}

/* Additional styling for body */
body {
  background: linear-gradient(135deg, #1e1e1e, #4d4d4d, #FFA500);
}
